<!--
/**  
 * @package   Buzz_Base
 * @author    Team Buzz Web
 * @copyright Copyright (c)
 * @version   1.1
 */
-->
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Buzz_Base" setup_version="1.0.0"/>
</config>