<?xml version="1.0"?>
<!--
    /**
    * @package   Buzz_Base
    * @author    github.com/mauricio-tonny
    * @copyright Copyright (c)
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <system>
        <tab id="buzz" translate="label" sortOrder="999999" class="buzz-tab buzzbase-tab-container">
            <label>Buzz</label>
        </tab>
        <section id="buzz_base" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Base</label>
            <tab>buzz</tab>
            <resource>Buzz_Base::config_base</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>System Information</label>
                <!-- Exibi as informações gerais da loja -->
                <frontend_model>Buzz\Base\Block\Adminhtml\SystemInfo</frontend_model>
            </group>            
            <group id="base_netx" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Next deployments</label>
                <frontend_model>Buzz\Base\Block\Adminhtml\System\Config\Documentation</frontend_model>
            </group>
        </section>
    </system>
</config>
